@page "/Main"
@rendermode InteractiveServer

<PageTitle>Main</PageTitle>

            <div class="Main">
        <div class="card mb-3">
           <img src="/pics/FaceKolp.jpg" width="600" height="400" />
            <div class="card-body">
              <p class="card-text">Колпак на столб забора - защита от осадков и декор в одном. Большой выбор моделей, индивидуальные размеры, изготовление на заказ.</p>
                <a href="#">Заказать уникальное изделие</a>
            </div>
        </div>

          <div class="card mb-3">
             <img src ="/pics/Dimka.jpg" width="600" height="400" />
                <div class="card-body">
                <p class="card-text">"Дымник на трубу — надежная защита от дождя и снега, а также важный элемент для оптимальной тяги. Широкий ассортимент моделей, возможность выбора индивидуальных размеров и изготовление на заказ обеспечат эффективность и эстетику вашего отопительного решения." </p>
                <a href="#">Заказать уникальное изделие</a>
                </div>
          </div>
            </div>
           
      

@code {



} 
